.LeftTitle
{
    border-bottom-style: solid;;
    border-bottom-color:  #66ffd9;
    font-size: 20px;

}

.ThisIsMe img
{
  border-radius: 15%;
}
.ThisIsMe
{
  padding-left: 35%;
}
.ThienThu p
{
    font-size: 20px;
}